<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
	<title>Mon premier projet</title>
</head>
<body>
	<header>
		<div class="title">
			<h1>First API</h1>
		</div>
		
		<nav>
			<a href="/">Home</a>
            <% if(session.isLogged === false) { %>
            	<a href="/login">Login</a>
                <a href="/register">Register</a>
            <% } else { %>
				<a href="/infos">infos</a>
				<a href="/list">liste sans bdd</a>
				<a href="/listbdd">liste de la bdd</a>
				<a href="/logout">déconnexion</a>
			<% } %>
		</nav>
	</header>
	<main>
		<%- include(template) -%>
	</main>
	<footer>
		<p>Ceci est un footer de ses morts!</p>
	</footer>
</body>
</html>