<table>
	<thead>
		<th>Nom</th>
		<th>Classe</th>
		<th>Note</th>
	</thead>
	<tbody>
		<% for(let i = 0; i < list.length; i++) {%>
			<tr>
				<td><%=list[i].name%></td>
				<td><%=list[i].classe%></td>
				<td><%=list[i].note%></td>
			</tr>
		<% } %>
	</tbody>
</table>

	<form action="/list" method="post">
		<input type="text" name="name" placeholder="name"/>
		<input type="text" name="classe" placeholder="classe"/>
		<input type="text" name="note" placeholder="note"/>
		<input type="submit" name="S'enregistrer">
	</form>