<table>
	<thead>
		<th>Nom</th>
		<th>Prénom</th>
		<th>Email</th>
		<th>Age</th>
	</thead>
	<tbody>
		<% for(let i = 0; i < list.length; i++) {%>
			<tr>
				<td><%=list[i].lastName%></td>
				<td><%=list[i].firstName%></td>
				<td><%=list[i].email%></td>
				<td><%=list[i].age%></td>
			</tr>
		<% } %>
	</tbody>
</table>
<script type="text/javascript" src="js/index.js"></script>