<section>

	<h2><%= name %></h2>
	<%if(error !== null) { %>
	<p><%= error%></p>
	<% } %>
	<form action="/login" method="POST">
		<input type="text" name="email" placeholder="ton mail">
		<input type="text" name="password" placeholder="ton mdp">
		<input type="submit" name="envoyer">
	</form>
</section>