<section>
	<h2><%= name %></h2>
	<form action="/register" method="post">
		<input type="text" name="firstname" placeholder="ton prénom"/>
		<input type="text" name="lastname" placeholder="ton nom"/>
		<input type="email" name="email" placeholder="ton mail"/>
		<input type="password" name="password" placeholder="ton mot de passe"/>
		<input type="text" name="age" placeholder="ton age"/>
		<input type="submit" name="envoyer">
	</form>
</section>