* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

header {
	background-color: #b24a4a;
	text-align: center;
	padding: 80px;
}


header nav {
	margin-top: 25px

}

header a {
	color: white;
	margin-right: 20px;
}

h1 {
	color: white;
	font-size: 2.5em;
}

main {
	width: 80%;
	margin: auto;
	padding: 25px 0;
}

/*Home*/
h2 {
	text-align: center;
	margin: 25px;
}

p {
	margin: 25px 0;
}


/*new*/


form {
	border: 1px solid black;
	width: 40%;
	margin: auto;
}

form input {
	display: block;
	width: 60%;
	margin: 15px auto;
	height: 30px;
	text-align: center;
}

/*list*/

table {
	width: 50%;
	margin: auto;
	text-align: center;
	margin-top:100px;
	margin-bottom: 200px;
	border-spacing: 0;
}

td, th {
	border: 1px solid black;
	padding: 15px
}

.red {
	background-color: red;
}

/*Footer*/

footer {
	text-align: center;
	padding: 50px;
	background-color: #32d15f;
}